* {
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;

}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('laptop.jpg');
  background-size: 100% 100%; /* Adjusted this line */
  background-position: center;
  background-repeat: no-repeat; /* Added this line */
  background-attachment: fixed;
  height: 100vh; /* Adjusted this line */
}

.rehd {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  display: none;
}

.rehd .rehd-h{
  color: #fff;
  margin-left: 20px;
}

nav {
  background-color: rgba(0, 0, 0, 1);
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 40px;
  width: 100%;
  z-index: 999;
  box-sizing: border-box;
}

.logo {
  margin-right: 100px;
}

.logo a {
  color: #fff;
  font-size: 2.5rem;
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
}

.logo a:hover {
  background: linear-gradient(265deg, #b6128d, #7c066c, #5806f0);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.links li {
  margin-right: 20px;
  position: relative;
}

.links li a {
  color: #fff;
  transition:  0.5s ease;
}

.links li a:hover {
  background: linear-gradient(265deg, #b6128d, #7c066c, #5806f0);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.links li::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 4px;
  background: linear-gradient(265deg, #b6128d, #7c066c, #5806f0);
  border-radius: 10%;
  transition: width 0.5s ease-in-out;
}

.links li:hover::after {
  width: 100%;
  opacity: 1;
  transition: width 0.5s ease-in-out;
}

.links li.active::after {
  width: 100%;
  opacity: 1;
}

main {
  min-height: 100vh;
  height: fit-content;
  background: transparent;
}

.footer {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  height: fit-content;
  display: grid;
  margin: 0;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
}

.footer-container {
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  text-align: center;
}





h3 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;  
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.footer-copyright {
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.rehd a, .footer-social a {
  font-size: 25px;
}

.main-section {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 480px;
}

.h1 {
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  background: linear-gradient(268deg, #b6128d, #5806f0, #b6128d);
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.08);
  color: #fff;
}

.button:hover {
  background: rgba(0, 0, 0, 0.4);
}  

.button {
  width: 118px;
  height: 38px;
  border-radius: 10px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  outline: none;
  border: none;
}









/* Form containers */
#menu-container {
  position: fixed;
  top: 0;
  width: 50vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transition: right 0.5s ease-in-out;
  right: -1500%;
  z-index: 990;
  display: flex;
  align-items: center;
}


















#menu-container .links  {
  display: flex;
  flex-direction: column;
}



#menu-container .links li {
  margin-bottom: 10px;
  padding-left: 0; /* Remove left padding */
}

#menu-container .links a {
  text-decoration: none;
  font-size: 32px;
  transition: color 0.2s ease-in-out;
  padding-left: 0; /* Remove left padding */
}





.show-menu {
  /*display: inline-block;*/
  display: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.line {
  /*display: block;*/
  display: none;
  width: 18px; /* Updated width */
  height: 2px;
  background-color: #fff;
  margin-bottom: 4px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  position: relative;
}

.top {
  transform-origin: center left;
  top: 0;
}

.middle {
  transform-origin: center left;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
}

.bottom {
  transform-origin: center left;
  top: 100%;
  transform: translateY(-50%);
}

#show-menu.active .top {
  transform: rotate(45deg) translate(0, 0);
}

#show-menu.active .middle {
  opacity: 0;
}

#show-menu.active .bottom {
  transform: rotate(-45deg) translate(0, 0);
}

















/* Form visibility */
#menu-container.active {
  right: 0;
  z-index: 990;
}






.hello {
  top: 10px;
  width: 300px;
  height: 100px;
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



/* about srt */

.about-sect {
  min-height: 100vh;
  height: fit-content;
  margin: 0;
  margin-top: 120px;
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-sect .container {
  display: grid;
  grid-template-columns: 1fr;
  width: 90vw;
}

.tone, .ttone, .tttone, .ttttone, .vone {
  height: fit-content;
  padding: 40px 5px;
  margin: 20px 0;
  border-radius: 10px;
  background: #d4d4d4;
  color: #000;
  width: 50%;
}

.ttone, .ttttone {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: transparent;
}

.lio, .liol {
  width: 50%;
  height: 100%;
}

.liol {
background: #d4d4d4;
padding: 40px 5px;
border-radius: 10px;
}

/* .tttone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tttone .img {
  display: flex;
  flex-direction: row-reverse;
  width: 50%;
  height: 95%;
  border-radius: 10px;
  background: linear-gradient(to right, rgba);
  background-size: cover;
  background-repeat: no-repeat;
} */





.about-sect .container  h1 {
  font-size: 2.2em;
  font-weight: 500;
}

.about-sect .container h3 {
  font-size: 1.8em;
  font-weight: 500;
}


.about-sect .container h5 {
  font-size: 1.4em;
  font-weight: 500;
}

.ttone p span {
  font-size: 2em;
  font-weight: 500;
}

.ttttone p span {
  font-size: 1.6em; 
  font-weight: 500;
}

.vone p a {
  color: #5806f0;
}

.vone p a :hover {
  color: #430aac;
  transform: scale(1.08);
}


/* about srt */



































@media (min-width: 861px) {
  #menu-container.active {
    display: none;
  }
}





@media only screen and (max-width: 860px) {

  .lio {
    display: none;
  }

  .liol {
    width: 100%;
  }

  .tone, .ttone, .tttone, .ttttone, .vone {
    width: 100%;
  }

  .rehd {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
      display: none;
  }

.rehd .rehd-h{
  color: #fff;
  margin-left: 20px;
  background: #000;
}

nav {
  background-color: rgba(0, 0, 0, 1);
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 40px;
  width: 100%;
  z-index: 999;
}

.logo {
  margin-right: 0;
  text-align: center;
}

.logo a {
  color: #fff;
  font-size: 3.5rem;
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
}

.links  {
  display: none;
}




#menu-container {
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}



#menu-container .links  {
  display: flex;
  flex-direction: column;
}



#menu-container .links li {
  margin-bottom: 10px;
}

#menu-container .links a {
  text-decoration: none;
  font-size: 32px;
  transition: color 0.2s ease-in-out;
  color: #fff;
}









/* Form containers */
#menu-container {
  position: fixed;
  top: 0;
  width: 50vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transition: right 0.5s ease-in-out;
  right: -1500%;
  z-index: 990;
  display: flex;
  align-items: center;
}






#links {
display: flex;
flex-direction: column;
}

















.show-menu {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.line {
  display: block;
  width: 18px; /* Updated width */
  height: 2px;
  background-color: #fff;
  margin-bottom: 4px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  position: relative;
}

.top {
  transform-origin: center left;
  top: 0;
}

.middle {
  transform-origin: center left;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
}

.bottom {
  transform-origin: center left;
  top: 100%;
  transform: translateY(-50%);
}

#show-menu.active .top {
  transform: rotate(45deg) translate(0, 0);
}

#show-menu.active .middle {
  opacity: 0;
}

#show-menu.active .bottom {
  transform: rotate(-45deg) translate(0, 0);
}

















/* Form visibility */
#menu-container.active {
  right: 0;
  z-index: 990;
}






.hello {
  top: 10px;
  width: 300px;
  height: 100px;
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

main {
  min-height: 100vh;
  height: fit-content;
  background: transparent;
}

.footer {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  height: fit-content;
  margin-top: 0;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
}

.footer-container {
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  text-align: center;
}





h3 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;  
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.footer-copyright {
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


}














@media only screen and (max-width: 768px) {


.rehd {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
    display: none;
}

.rehd .rehd-h{
  color: #fff;
  margin-left: 20px;
  background: #000;
}

nav {
  background-color: rgba(0, 0, 0, 1);
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 40px;
  width: 100%;
  z-index: 999;
}

.logo {
  margin-right: 0;
  text-align: center;
}

.logo a {
  color: #fff;
  font-size: 2.5rem;
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
}

.links  {
  display: none;
}




#menu-container {
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}



#menu-container .links  {
  display: flex;
  flex-direction: column;
}



#menu-container .links li {
  margin-bottom: 10px;
}

#menu-container .links a {
  text-decoration: none;
  font-size: 18px;
  transition: color 0.2s ease-in-out;
  color: #fff;
}









/* Form containers */
#menu-container {
  position: fixed;
  top: 0;
  width: 50vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transition: right 0.5s ease-in-out;
  right: -1500%;
  z-index: 990;
  display: flex;
  align-items: center;
}






#links {
display: flex;
flex-direction: column;
}

















.show-menu {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}


.line {
  display: block;
  width: 18px; /* Updated width */
  height: 2px;
  background-color: #fff;
  margin-bottom: 4px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  position: relative;
}

.top {
  transform-origin: center left;
  top: 0;
}

.middle {
  transform-origin: center left;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
}

.bottom {
  transform-origin: center left;
  top: 100%;
  transform: translateY(-50%);
}

#show-menu.active .top {
  transform: rotate(45deg) translate(0, 0);
}

#show-menu.active .middle {
  opacity: 0;
}

#show-menu.active .bottom {
  transform: rotate(-45deg) translate(0, 0);
}

















/* Form visibility */
#menu-container.active {
  right: 0;
  z-index: 990;
}






.hello {
  top: 10px;
  width: 300px;
  height: 100px;
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

main {
  min-height: 100vh;
  height: fit-content;
  background: transparent;
  margin: 0;
}

main .h1{
display: flex;
align-items: center;
}

main .h1 h1 {
font-size: 1.1rem;
}


main .h1 p {
font-size: 0.9rem;
}

.footer {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  height: fit-content;
  margin-top: 0;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
}

.footer-container {
  margin: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 5%;
  text-align: center;
}





h3 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;  
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.footer-copyright {
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

}


@media only screen and (max-width: 680px) {
  .footer-container {
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    text-align: center;
  }
}















@media only screen and (max-width: 560px) {


.rehd {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
    display: none;
}

.rehd .rehd-h{
  color: #fff;
  margin-left: 20px;
  background: #000;
}

nav {
  background-color: rgba(0, 0, 0, 1);
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 40px;
  width: 100%;
  z-index: 999;
}

.logo {
  margin-right: 0;
  text-align: center;
}

.logo a {
  color: #fff;
  font-size: 2.5rem;
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
}

.links  {
  display: none;
}




#menu-container {
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}



#menu-container .links  {
  display: flex;
  flex-direction: column;
}



#menu-container .links li {
  margin-bottom: 10px;
}

#menu-container .links a {
  text-decoration: none;
  font-size: 18px;
  transition: color 0.2s ease-in-out;
  color: #fff;
}









/* Form containers */
#menu-container {
  position: fixed;
  top: 0;
  width: 50vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transition: right 0.5s ease-in-out;
  right: -1500%;
  z-index: 990;
  display: flex;
  align-items: center;
}






#links {
display: flex;
flex-direction: column;
}

















.show-menu {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.line {
  display: block;
  width: 18px; /* Updated width */
  height: 2px;
  background-color: #fff;
  margin-bottom: 4px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  position: relative;
}

.top {
  transform-origin: center left;
  top: 0;
}

.middle {
  transform-origin: center left;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
}

.bottom {
  transform-origin: center left;
  top: 100%;
  transform: translateY(-50%);
}

#show-menu.active .top {
  transform: rotate(45deg) translate(0, 0);
}

#show-menu.active .middle {
  opacity: 0;
}

#show-menu.active .bottom {
  transform: rotate(-45deg) translate(0, 0);
}

















/* Form visibility */
#menu-container.active {
  right: 0;
  z-index: 990;
}






.hello {
  top: 10px;
  width: 300px;
  height: 100px;
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

main {
  min-height: 100vh;
  height: fit-content;
  background: transparent;
  margin: 0;
}

main .h1{
display: flex;
align-items: center;
}

main .h1 h1 {
font-size: 1.1rem;
}


main .h1 p {
font-size: 0.9rem;
}

.footer {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  height: fit-content;
  margin-top: 0;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
}

.footer-container {
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  text-align: center;
}





h3 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;  
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.footer-copyright {
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


}
















@media only screen and (max-width: 375px) {

.rehd {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
    display: none;
}

.rehd .rehd-h{
  color: #fff;
  margin-left: 20px;
  background: #000;
}

nav {
  background-color: rgba(0, 0, 0, 1);
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 40px;
  width: 100%;
  z-index: 999;
}

.logo {
  margin-right: 0;
  text-align: center;
}

.logo a {
  color: #fff;
  font-size: 2.5rem;
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
}

.links  {
  display: none;
}




#menu-container {
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}



#menu-container .links  {
  display: flex;
  flex-direction: column;
}



#menu-container .links li {
  margin-bottom: 10px;
}

#menu-container .links a {
  text-decoration: none;
  font-size: 18px;
  transition: color 0.2s ease-in-out;
  color: #fff;
}









/* Form containers */
#menu-container {
  position: fixed;
  top: 0;
  width: 50vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transition: right 0.5s ease-in-out;
  right: -1500%;
  z-index: 990;
  display: flex;
  align-items: center;
}






#links {
display: flex;
flex-direction: column;
}

















.show-menu {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.line {
  display: block;
  width: 18px; /* Updated width */
  height: 2px;
  background-color: #fff;
  margin-bottom: 4px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  position: relative;
}

.top {
  transform-origin: center left;
  top: 0;
}

.middle {
  transform-origin: center left;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
}

.bottom {
  transform-origin: center left;
  top: 100%;
  transform: translateY(-50%);
}

#show-menu.active .top {
  transform: rotate(45deg) translate(0, 0);
}

#show-menu.active .middle {
  opacity: 0;
}

#show-menu.active .bottom {
  transform: rotate(-45deg) translate(0, 0);
}

















/* Form visibility */
#menu-container.active {
  right: 0;
  z-index: 990;
}






.hello {
  top: 10px;
  width: 300px;
  height: 100px;
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

main {
  min-height: 100vh;
  height: fit-content;
  background: transparent;
  margin: 0;
}

main .h1{
display: flex;
align-items: center;
}

main .h1 h1 {
font-size: 1.1rem;
}


main .h1 p {
font-size: 0.9rem;
}

.footer {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  height: fit-content;
  margin-top: 0;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
}

.footer-container {
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
  text-align: center;
}





h3 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;  
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.footer-copyright {
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
}
