* {
  font-family: verdana;
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 05)), url('media/laptop.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover; 
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Fix background on scroll */
}

.rehd {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20px;
}

.rehd .rehd-h{
  color: #fff;
  margin-left: 20px;
}

nav {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  margin: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}

.logo {
  margin-right: 100px;
}

.logo a {
  color: #fff;
  font-size: 2.5rem;
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
}

.logo a:hover {
  background: linear-gradient(265deg, #b6128d, #7c066c, #5806f0);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.links ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.links li {
  margin-right: 20px;
  position: relative;
}

.links ul li a {
  color: #fff;
  transition:  0.5s ease;
}

.links ul li a:hover {
  background: linear-gradient(265deg, #b6128d, #7c066c, #5806f0);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.links li::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 4px;
  background: linear-gradient(265deg, #b6128d, #7c066c, #5806f0);
  border-radius: 10%;
  transition: width 0.5s ease-in-out;
}

.links li:hover::after {
  width: 100%;
  opacity: 1;
  transition: width 0.5s ease-in-out;
}

.links li.active::after {
  width: 100%;
  opacity: 1;
}

main {
  height: 100vh;
  background: transparent;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-links, .footer-info, .footer-social {
  flex-basis: 30%;
}

h3 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.footer-copyright {
  background-color: #444;
  text-align: center;
  padding: 10px 0;
  clear: both;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff; /* change to your website's background color */
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader img {
  width: 100px;
  height: 100px;
}




.header {
  height: 50px;
  background-color: #2f2f2f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #333;
}

.gradient-btn {
  background: transparent;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  background-image: linear-gradient(120deg, #4CAF50, #8BC34A, #3E8E41);
  background-size: 200% 200%;
  animation: gradient-animate 4s ease infinite;
  transition: transform 0.3s;
}

.gradient-btn:hover {
  transform: scale(1.1);
}

@keyframes gradient-animate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}




.code-animation {
  position: relative;
  width: 80%;
  margin: 40px auto;
  background-color: #2f2f2f;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#language-selector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  color: #fff;
  font-size: 16px;
}

#language {
  margin: 0 auto;
}

#code {
  font-family: 'Monaco', monospace;
  font-size: 16px;
  line-height: 1.5;
  white-space: pre-wrap;
  color: #fff;
}

#cursor {
  color: #66d9ef;
  animation: blink 0.5s infinite;
  font-size: 16px;
}

#output {
  font-family: 'Monaco', monospace;
  font-size: 16px;
  line-height: 1.5;
  white-space: pre-wrap;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
}

/* Responsiveness */
@media only screen and (max-width: 768px) {
  .code-animation {
    width: 90%;
    margin: 20px auto;
  }
  #code {
    font-size: 14px;
  }
  #output {
    font-size: 14px;
  }
}

@media only screen and (max-width: 480px) {
  .code-animation {
    width: 95%;
    margin: 10px auto;
  }
  #code {
    font-size: 12px;
  }
  #output {
    font-size: 12px;
  }
  #language-selector {
    font-size: 14px;
  }
}

.csa {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}